/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

img {
    width: 50%;
    max-width: 100px;
    max-height: 200px;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 200px;
}
